# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.db
*.sqlite3

# Node
node_modules/
dist/
.cache/
*.local

# Env files
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.override.yml
